<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">

</head>

<body>
    <th:block th:fragment="productdiv">
        <div class="col-md-4">
            <div class="course-listing">
                <div class="row">
                    <a href="product.html" th:href="@{'/product/'+${product.id}}">
                        <div class="col-lg-12">
                            <div class="course-box-image-container">
                                <img role="presentation"
                                     src="../static/images/SpringIntroThumb.png"
                                     th:src="@{'/images/'+${product.imageUrl}}"
                                     class="course-box-image"/>
                            </div>
                            <div class="course-listing-title" th:text="${product.courseName}">
                                Course Name
                            </div>
                            <div class="course-listing-subtitle" th:text="${product.courseSubtitle}">
                                Course Subtitle
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <div class="col-10">
                        <img align="left" alt="John Thompson"
                             src="../static/images/instructor_jt.jpg"
                             th:src="@{'/images/' + ${product.author.image}}"
                             class="img-circle"/>
                        <div th:text="${product.author.firstName + ' ' + product.author.lastName}">Author name</div>
                    </div>
                    <div class="col-2" th:text="${product.price>0 ? '$'+product.price : 'FREE'}">Price</div>
                </div>
            </div>
        </div>
    </th:block>

    <script src="../static/css/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"
            th:href="@{/css/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js}"></script>

</body>
</html>