<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

    <div class="col-md-4" th:fragment="productdiv">
        <div class="course-listing">
            <div class="row">
                <a href="product.html" th:href="@{'/product/'+${product.id}}">
                    <div class="col-lg-12">
                        <div class="course-box-image-container">
                            <img role="presentation"
                                 src="../static/images/SpringIntroThumb.png"
                                 th:src="@{'/images/'+${product.imageUrl}}"
                                 class="course-box-image"/>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>



</body>
</html>